<!DOCTYPE html>
<html ng-app="ToDoApp">
<head>
  <title>Tom's ToDos</title>
  <link rel="stylesheet" type="text/css" href="styles/main.css"></link>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/AngularApp.js"></script>
  <script src="js/task.js"></script>
  <script src="js/jqueryFunctions.js"></script>
</head>
<body ng-controller="ToDoAppController">

  <section id='wrapper600'>
    <header id='newtask'>
      <form>
        New Task: <input ng-model="newTask" type="text" placeholder="What do you want to do today?">
        <input id="createtask" type="submit" value="Add to list" ng-click="addNewTask()">
      </form>
    </header>
    <section id='tasklist'>
      <ul ng-repeat="item in items" id="item">
        <li class="taskline" ng-class="{completed: completed}"><input ng-model="completed" ng-change="changeCompletionStatus(item)"type="checkbox">{{item.title}} {{item.isCompleted}}</li>
      </ul>
      <p ng-model="remaining">4 tasks remaining</p>
    </section>
    <footer id='buttons'>
      <button>All</button>
      <button>Active</button>
      <button>Complete</button>
      <button>Clear All</button>
    </footer>
  </section>

</body>
</html>