<!DOCTYPE html>
<html>
<head>
  <title>Tom's ToDos</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
</head>
<body>

  <h1>This is HTML</h1>
  <%= "and this is embedded JavaScript" %>

</body>
</html>