<!DOCTYPE html>
<html ng-app="ToDoApp">
<head>
  <title>Tom's ToDos</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/AngularApp.js"></script>
</head>
<body ng-controller="ToDoAppController">

  <h1>This is HTML</h1>
  <%= "and this is embedded JavaScript in an " + title + " file" %><br/>

  <button>Click Me</button>

</body>
</html>